.product {
    background-color: #cc6699;
    text-align: center;
    border-radius: 15px;
    width: 300px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 1s ease;
}

.product img:hover {
    transform: scale(1.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.product-name {
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 5px;
}